.tela1-topo {
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 69px;
  background-color: #ec362d;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
  font-size: 37px;
  font-weight: 700;
  color: #ffffff;
  z-index: 2;
}
.tela1-tudo {
  width: 100vw;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.tela1-conteudo {
  width: 85vw;
  display: flex;
  flex-direction: column;
}
.tela1-seusQuizzes img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
}
.tela1-seusQuizzes {
  display: flex;
  flex-wrap: wrap;
}
.tela1-todosOsQuizzes {
  width: 85vw;
  display: flex;
  flex-wrap: wrap;
}
.tela1-todosOsQuizzes img {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  margin-bottom: 12px;
}
.quizz {
  margin-right: 15px;
  margin-top: 14px;
  width: 340px;
  height: 181px;
  display: flex;
  justify-content: flex-start;
  align-items: flex-end;
  position: relative;
}
.tela1-gradiente {
  width: 340px;
  height: 181px;
  border-radius: 5px;
  position: absolute;
  background: linear-gradient(to top, black, transparent);
  margin-bottom: 12px;
}
.tela1-imagemQuizz {
  opacity: 1;
}
.tela1-tituloQuizz {
  width: 272px;
  height: 54px;
  font-weight: 400;
  font-size: 19;
  margin-left: 15px;
  margin-bottom: 5px;
  color: #ffffff;
  display: flex;
  align-items: center;
  position: absolute;
  overflow: hidden;
  text-overflow: "...";
}
.tela1-criarQuizz {
  height: 181px;

  border: 1px dashed #d5d5d5;
  border-radius: 5px;
  display: flex;
  flex-direction: column;
  color: #b9b9b9;
  font-weight: 400;
  justify-content: space-evenly;
  align-items: center;
  margin-top: 146px;
  margin-bottom: 19px;
  line-height: 23px;
  text-align: center;
}
.tela1-botao {
  width: 151px;
  height: 40px;
  border-radius: 50px;
  border: 1px dashed #ec362d;
  display: flex;
  justify-content: center;
  align-items: center;
  color: #ec362d;
  font-size: 21px;
  font-weight: 400;
}
.seusQuizzes-titulo {
  display: flex;
  width: 160px;
  height: 40px;
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-top: 69px;
  margin-bottom: 12px;

  align-items: center;
  justify-content: space-between;
}
.iconeMais {
  color: #ec362d;
  font-size: 31px;
}
.todosOsQuizzes-titulo {
  font-size: 20px;
  font-weight: 700;
  color: #000000;
  margin-top: 48px;
  margin-bottom: 12px;
}
.escondido {
  display: none;
}

@media (max-width: 1100px) {
  .tela1-conteudo {
    width: 95vw;
  }
  .tela1-seusQuizzes {
    display: flex;
    flex-direction: column;
  }
  .quizz {
    margin-top: 14px;
  }
  .seusQuizzes-titulo {
    width: 91vw;
  }
  .todosOsQuizzes-titulo {
    display: flex;
    justify-content: center;
  }
  .todosOsQuizzesTitulo {
    width: 340px;
  }
  .seusQuizzes-titulo {
    width: 95vw;
  }
  .tela1-todosOsQuizzes {
    width: 95vw;
    align-items: center;
    flex-direction: column;
  }
}
@media (max-width: 348px) {
  .tela1-conteudo {
    width: 95vw;
  }
  .quizz {
    width: 95vw;
  }
  .seusQuizzes-titulo {
    width: 95vw;
  }
  .tela1-todosOsQuizzes {
    width: 95vw;
  }
  .tela1-seusQuizzes img {
    width: 95vw;
  }
  .tela1-todosOsQuizzes img {
    width: 95vw;
  }
  .tela1-gradiente {
    width: 95vw;
  }
}
